{% extends 'base.html' %}
{% load static %}


{% block content %}


        
        {% block sectionHero %}

        <section class="parallex parallex-one hero-section" id="home">
            <div id="particles-js">
        
            </div> 
           


            <div class="main-content">
                <p 
                data-aos="fade-up"
                data-aos-duration="800">
                Welcom to  </p>
                <h1 class="page-title" 
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="200">
                World of New <br>Adventures</h1>
                <div class="btn"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="400">
                    <a href="" class="btn-1">Watch Video</a>
                    <a href="" class="btn-2">Explore More</a>
                </div>
            </div>
        </section>
        
        {% endblock %}




        <section class="about" id="about">
            <h1
            data-aos="fade-up">
            Get to Know a litle bit About Me</h1>
            <div class="column">
                <div class="imgBox">
                    <img src="{% static 'mewebsite/images/img-about.jpg' %}" alt=""
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="400"
                    >
                    <h5 class="caption"
                    data-aos="fade-right"
                    data-aos-duration="400"
                    data-aos-delay="1000"
                    >Ahmed Essa Salih Ahmed</h5>
                    <h5 class="caption"
                    data-aos="fade-left"
                    data-aos-duration="800"
                    data-aos-delay="1400"
                    ><span>Web-Developer</span>, <span>Designer</span> & Writer</h5>
                </div>
                <p
                data-aos="fade-up"
                data-aos-duration="1000">
                I'm a motivated Freelancer with good knowledge and experience. <br>
                i'm good equipped in web
                Development technologies including HTML, CSS, JavaScript ( JQuery ) and more. 
                <br> Also i'm improving my skills in Python, Node.JS &
                Database Technologies such as ( MySQL & No-SQL ). <br>
                It's my goal to enhance my
                skills and showcase my creativity & productivity.

                Temporibus?</p>
            </div>     
            <div class="flout-text">
                <span>A</span>
                <span>B</span>
                <span>O</span>
                <span>U</span>
                <span>T</span>
            </div>
            <div class="large">ABOUT</div>
        </section>
        
        <section class="parallex parallex-two">
            
        </section>
        <section class="services" id="services">
            <h1 
                data-aos="fade-up">
                Get The Work Done</h1>
            <p
                data-aos="fade-up"
                data-aos-duration="1000">
                <strong>Exhibit your unique personality</strong> 
                and reach out to more communities improving your 
                <strong>visual image and strategy.</strong><br>
                <strong>What Do I!</strong> 
                Focused on creating clean, user-friendly experiences professional websites
                with simple and straightforward Navigation, with hamburger-style menu. 
                <strong>Or</strong> Amazing fun fonts and geometric overlays 
                and transforms with utilized colors.
                <strong>Or</strong> a basic layout that showcases your Personality 
                and all of your Services on the homepage.
                Either it’s simple and straightforward layout, with easy access and viewing. 
                Or unique style, with a very attractive interface.
                <br>
                Featuring a clean text content and general presentation, 
                with many unique touches and features that
                does a fantastic job of <strong>promoting</strong> 
                your identity and reputation.
            </p>
            <div class="flout-text">
                <span>S</span>
                <span>E</span>
                <span>R</span>
                <span>V</span>
                <span>I</span>
                <span>C</span>
                <span>E</span>
                <span>S</span>
            </div>
             <div class="large" style="left: 0; ">SERVICES</div>
        </section>

        <section class="services-detailes">
            <div class="column">
                <div class="imgBox">
                    <img src="{% static 'mewebsite/images/icons/WebDev-icon.png' %}" alt="">
                </div>
                <h3>Web<br>Development</h3>
            </div>
            <div class="column">
                <div class="imgBox">
                    <img src="{% static 'mewebsite/images/icons/Responsive-icon.png' %}" alt="">
                </div>
                <h3>Responsive</h3>
            </div>
            <div class="column">
                <div class="imgBox">
                    <img src="{% static 'mewebsite/images/icons/UI-icon.png' %}" alt="">
                </div>
                <h3>Ui Design</h3>
            </div>
        </section>

        <section class="parallex parallex-three">
            <div class="floats-container">
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-CodePen.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-JavaScript-2.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-htML.jpg' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-Json.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-Front-end.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-Django.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-Btstrb.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-SASS.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-Code.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-AJAX.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-W3C.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-GitHub.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-Javascript.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-Python.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-JQuery.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-MySQL.png' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-CSS3.jpg' %}" alt="">
                </div>
                <div class="float-item">
                    <img src="{% static 'mewebsite/images/WD-logo/logo-JS.jpg' %}" alt="">
                </div>
                <div class="float-item">
                    <p class="float-text">Code Lover</p>
                </div>
                <div class="float-item">
                    <p class="float-text">Design Passionate</p>
                </div>
                <div class="float-item">
                    <p class="float-text">Enjoy Coding</p>
                </div>
                <div class="float-item">
                    <p class="float-text">Eager to Lerning</p>
                </div>
                <div class="float-item">
                    <p class="float-text">New Knowlege all the Time</p>
                </div>
            </div>          
        </section>

        <section class="skills" id="skills">
            <div class="column content">
                <h2>Proffissonal Skills</h2>
                <div class="column p-skills">
                    <li class="skill-item"
                    data-aos="fade-up"
                    data-aos-duration="200"
                    data-aos-delay="0"
                    >
                        <h3>HTML</h3>
                        <span class="bar">
                            <span class="progress html" per="90%"></span>
                        </span>
                    </li>
                    <li class="skill-item"
                    data-aos="fade-up"
                    data-aos-duration="200"
                    data-aos-delay="400"
                    >
                        <h3>CSS</h3>
                        <span class="bar">
                            <span class="progress css" per="92%"></span>
                        </span>
                    </li>
                    <li class="skill-item"
                    data-aos="fade-up"
                    data-aos-duration="200"
                    data-aos-delay="800"
                    >
                        <h3>JScript</h3>
                        <span class="bar">
                            <span class="progress jScript" per="80%"></span>
                        </span>
                    </li>
                    <li class="skill-item"
                    data-aos="fade-up"
                    data-aos-duration="200"
                    data-aos-delay="1000"
                    >
                        <h3>Python</h3>
                        <span class="bar">
                            <span class="progress python" per="85%"></span>
                        </span>
                    </li>
                    <li class="skill-item"
                    data-aos="fade-up"
                    data-aos-duration="200"
                    data-aos-delay="1200"
                    >
                        <h3>MySQL</h3>
                        <span class="bar">
                            <span class="progress mySQL" per="75%"></span>
                        </span>
                    </li>
                    <li class="skill-item"
                    data-aos="fade-up"
                    data-aos-duration="200"
                    data-aos-delay="1400"
                    >
                        <h3>Ui Design</h3>
                        <span class="bar">
                            <span class="progress ui" per="95%"></span>
                        </span>
                    </li>
                </div>
            </div>
            <div class="column content">
                <h2
                    data-aos="fade-left"
                    data-aos-duration="1200">
                    Other Skills</h2>
                <div>
                    <ul class="main-nav-list">
                        <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="600"
                        >
                            <li>SEO</li>
                            <li>Content Writting</li>
                            <li>Phtoshope</li>
                            <li>Video Editting</li>
                            <li>Wordpress</li>
                            <li>Google Sites</li>
                            <li>Google Fonts</li>
                            <li>Font Awesome</li>
                        </div>
                        
                        <hr
                        data-aos="fade-left"
                        data-aos-duration="500"
                        data-aos-delay="700"
                        >

                        <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="800"
                        >
                            <li>DJango</li>
                            <li>JQueries</li>
                            <li>JSON</li>
                            <li>AJAX</li>
                            <li>Bootstrab</li>
                            <li>CSS Grid</li>
                            <li>Flex Box</li>
                            <li>AOS</li>
                            <li>Scroll Reveal</li>
                        </div>   

                        <hr
                        data-aos="fade-left"
                        data-aos-duration="500"
                        data-aos-delay="900"
                        >

                        <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="1000"
                        >
                            <li>Get & Gethub</li>
                            <li>CodePen</li>
                            <li>Xampp</li>
                            <li>PyCharm</li>
                        </div>
                    
                        <hr
                        data-aos="fade-left"
                        data-aos-duration="500"
                        data-aos-delay="1100"
                        >

                        <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="1200"
                        >
                            <li>Animation</li>
                            <li>Hover Effect & overlay</li>
                            <li>Parallex Effect</li>
                        </div>


                    </ul>
               
                    <h2
                    data-aos="fade-left"
                    data-aos-duration="1200">
                    Skills in Progress</h2>
                    <ul class="main-nav-list"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="1400"
                    ><li>UX Designe</li>
                        <li>Flutter</li>
                        <li>Electron</li>
                        <li>Ethical Hahing</li>
                        <li>AI & ML with Python</li>
                    </ul>
                </div>
               
            </div>
            <div class="flout-text">
                <span>S</span>
                <span>K</span>
                <span>I</span>
                <span>L</span>
                <span>L</span>
                <span>S</span>
            </div>
             <div class="large">SKILLS</div>
        </section>

        <section class="features features-1" id="features">
            <div class="column content">
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-offset="200"
                data-aos-delay="200">
                Description</h2>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                Straightforward, clean Layout for a Travel Agency 
                howcases all of The Agency Features on the homepage, 
                which makes for easy access and viewing.</p>
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200">
                Functionality</h2>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                a  simple menu that transforms to Visual port view. 
                Good usage of high quality images and parallex effect. 
                Simple icons and Clear presentaion with smooth scrolling
                Fully Responsive</p>
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200">
                Technalogy Used</h2>
                <ul class="main-nav-list">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JSCRIPT</li>
                    <li>AOS</li>
                    <li>JQueries</li>
                    <li>Flex Box</li>
                </ul>
                <h2
                data-aos="fade-right"
                data-aos-duration="1200">
                Features</h2>
                <ul class="main-nav-list">
                    <li>Hover Effects</li>
                    <li>Animation</li>
                    <li>Scroll Reveal</li>
                    <li>Parallex</li>
                    <li>Font Aowesome</li>
                </ul>
                <div class="btn">
                    <a href="" class="btn-1"
                    data-aos="fade-up"
                    data-aos-duration="800"
                    data-aos-delay="600"
                    data-aos-offset="0"
                    >Watch Video</a>
                    <a href="" class="btn-2"
                    data-aos="fade-up"
                    data-aos-duration="800"
                    data-aos-delay="800"
                    data-aos-offset="0"
                    >See Website</a>
                </div>
            </div>
            <div class="column image1">
                <div class="imgBox"
                data-aos="fade-left"
                data-aos-duration="1600"
                data-aos-delay="200">
                <img src="{% static 'mewebsite/images/Work-Samples/6cgxwJI88Y.png' %}" alt="">
            </div>
            </div>
            
        </section>
        <section class="features features-2">
            <div class="column image2 one ">
                <div class="imgBox"
                data-aos="fade-right"
                data-aos-duration="1600"
                data-aos-delay="200">
                <img src="{% static 'mewebsite/images/Work-Samples/Ct7ZbdZVjS.png' %}" alt="">
                </div>
            </div>
        
            <div class="column content two">
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200">
                Description</h2>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                A Beutiful Resturant website 
                taking full Advantage of Visual Presentaion 
                using colorfull High Quality Images with many unique touches and features, 
                combined with Amazing motion Effects while scrolling the Page sections. 
                Simple and clear Menu with Transparent backgrund </p>
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200">
                Functionality</h2>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                A Home Page containing all Features and service & a Simple unique Contact Page. 
                Easy to use navigation Menu and unique Footer area with news letter.
                all with advanced  animation. Fully Responsive </p>
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200">
                Technalogy Used</h2>
                <ul class="main-nav-list">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JSCRIPT</li>
                    <li>JQueries</li>
                    <li>MySQL</li>
                    <li>Django</li>
                </ul>
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200">
                Features</h2>
                <ul class="main-nav-list">
                    <li>Hover Effects</li>
                    <li>Animation</li>
                    <li>AOS</li>
                    <li>Google Fonts</li>
                    <li>Font Aowesome</li>
                </ul>
                <div class="btn">
                    <a href="" class="btn-1"
                    data-aos="fade-up"
                    data-aos-duration="800"
                    data-aos-delay="600"
                    data-aos-offset="0"
                    >Watch Video</a>
                    <a href="" class="btn-2"
                    data-aos="fade-up"
                    data-aos-duration="800"
                    data-aos-delay="800"
                    data-aos-offset="0"
                    >See Website</a>
                </div>
            </div>
        </section>
        <section class="features features-3">
            <div class="column content">
                <h2 
                data-aos="fade-right"
                data-aos-duration="1200">
                Description</h2>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                A Hotel Website, Designed in a simple and straightforward way 
                using utilized colors,
                with Converting Buttons and links distributed throw the website sections
                with nice use of images and multi type presentaion.
                </p>
                <h2
                data-aos="fade-right"
                data-aos-duration="1200">
                Functionality</h2>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                A Multi page website, with booking section added in all pages.
                Clear and simple design with animation, overlay & hover Effect 
                Contact Page with google maps & coprehinsive footer area</p>
                <h2
                data-aos="fade-right"
                data-aos-duration="1200">
                Technalogy Used</h2>
                <ul class="main-nav-list">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JSCRIPT</li>
                    <li>AOS</li>
                    <li>JQueries</li>
                    <li>Flex Box</li>
                </ul>
                <h2
                data-aos="fade-right"
                data-aos-duration="1200">
                Features</h2>
                <ul class="main-nav-list">
                    <li>Hover Effects</li>
                    <li>Animation</li>
                    <li>Slide Show</li>
                    <li>Progress Bar</li>
                </ul>
                <div class="btn">
                    <a href="" class="btn-1"
                    data-aos="fade-up"
                    data-aos-duration="800"
                    data-aos-delay="600"
                    data-aos-offset="0"
                    >Watch Video</a>
                    <a href="" class="btn-2"
                    data-aos="fade-up"
                    data-aos-duration="800"
                    data-aos-delay="800"
                    data-aos-offset="0"
                    >See Website</a>
                </div>
            </div>
            <div class="column image1">
                <div class="imgBox"
                data-aos="fade-left"
                data-aos-duration="1600"
                data-aos-delay="200">
                <img src="{% static 'mewebsite/images/Work-Samples/MIwtkxtYjv.png' %}" alt="">
            </div>
        </div>
            
        </section>
        <section class="features features-4">
            <div class="column image2 one ">
                <div class="imgBox"
                data-aos="fade-right"
                data-aos-duration="1600"
                data-aos-delay="200">
                <img src="{% static 'mewebsite/images/Work-Samples/MIwtkxtYjv.png' %}" alt="">
                </div>
            </div>
        
            <div class="column content two">
                <h1 
                data-aos="fade-right"
                data-aos-duration="1200">
                Description</h1>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                Lorem ipsllum dolor sit amet consectetur, 
                tempora aliquid nisi neque mollitia laudantium ad! 
                Fugiat numquam corrupti pariatur cum.</p>
                <h1 
                data-aos="fade-right"
                data-aos-duration="1200">
                Functionality</h1>
                <p
                data-aos="fade-right"
                data-aos-duration="1200"
                data-aos-delay="200">
                Lorem ipsllum dolor sit amet consectetur, 
                tempora aliquid nisi neque mollitia laudantium ad! 
                Fugiat numquam corrupti pariatur cum!</p>
                <h1 
                data-aos="fade-right"
                data-aos-duration="1200">
                Technalogy Used</h1>
                <ul class="main-nav-list">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JSCRIPT</li>
                    <li>AOS</li>
                    <li>JQueries</li>
                    <li>Flex Box</li>
                </ul>
                <h1 
                data-aos="fade-right"
                data-aos-duration="1200">
                Features</h1>
                <ul class="main-nav-list">
                    <li>Hover Effects</li>
                    <li>Animation</li>
                    <li>Scroll Reveal</li>
                    <li>Parallex</li>
                    <li>Font Aowesome</li>
                </ul>
                <div class="btn"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="400"
                data-aos-offset="0">
                    <a href="" class="btn-1">Watch Video</a>
                    <a href="" class="btn-2">See Website</a>
                </div>
            </div>
        </section>    
    <!-- </main> -->
    

{% endblock %}